/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* Creamy Brown */
}

/* Home Page Background Color */
.home-page {
  background-color: #f5f5dc; /* Creamy Brown */
  flex: 1; /* Allow the content section to fill the remaining space */
  padding-top: 6vh; /* Make sure the content starts below the navbar */
}

/* Ensure no background image for the home page */
body.home-page {
  background-image: none; /* Remove the background image */
}
